.btn {
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
  border-radius: 8px;
  border-color: var(--color-primary-dark);
  transition: all 150ms linear;
}

.btn-light {
  background-color: var(--color-secondary);
  color: var(--color-primary-dark);
  border-color: var(--color-secondary);
}

.btn-em {
  background-color: var(--color-accent);
  color: #fff;
  border-color: var(--color-accent);
}

.btn:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
  border-radius: 8px;
  border-width: 2px;
  border-color: var(--color-secondary);
  transform: scale(.9);
}

.btn-light:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  border-width: 4px;
}

.btn-em:hover {
  background-color: var(--color-accent);
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}
