:root {
  --color-primary: #2fb2e0;
  --color-primary-light: #90e7ed;
  --color-primary-dark: #5494b3;
  --color-secondary: #f3ffe0;
  --color-accent: #ff534e;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Nunito", "Arial Rounded MT Bold", "Helvetica Rounded", arial, sans-serif;
}

html {
  font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: var(--font-secondary);
}

ul,
li,
ol,
dl,
dt,
dd,
blockquote,
cite,
caption,
q,
a,
p {
  font-family: var(--font-primary);
}
